<!DOCTYPE html>
<html lang ="en">
<head>
	<title>Onager</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="css/reset.css" /> 
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<div id="wrap">
	<h1>Welcome to Onager</h1>
	Go to <a href="http://<%= @hostname %>:41508/clients">http://<%= @hostname %>:41508/clients</a> on your mobile device
	</div>
</body>
</html>